<section id="home" class="hero">
  <!-- Blue background -->
  <div class="hero-blue-bg"></div>

  <!-- Decorative SVG -->
  <!-- <div class="hero-svg">
    
  </div> -->
  <div class="hero-image">
    <!-- <img src="assets/images/AM.png" alt="" /> -->
  </div>
  <!-- Existing visual layers -->
  <!-- <div class="hero-image" #heroImage></div>
  <div class="hero-fixed-layer" #heroFixedLayer></div> -->
  <!-- <div class="hero-overlay"></div> -->

  <div class="hero-content">
    <p class="hero-eyebrow">PROFESSIONAL BICYCLE SERVICE</p>

    <h1>
      Built to
      <br />
      <span>Keep You Riding.</span>
    </h1>

    <p class="hero-description">
      Expert repairs, servicing and maintenance for bikes that are ready for every ride.
    </p>

    <div class="hero-actions">
      <a routerLink="/appointment" class="hero-primary">
        Book a Service
        <i class="pi pi-arrow-right"></i>
      </a>

      <a href="#services" class="hero-secondary"> Explore Services </a>
    </div>
  </div>

  <div class="hero-scroll">
    <span>Scroll to explore</span>
    <i class="pi pi-arrow-down"></i>
  </div>
</section>
